{% extends "layout.html" %}

{% block main %}
<div class="game-container">
    <h1>2048</h1>
    
    <div id="game-options" class="game-options glass-effect">
        <h3 style="text-align: center;">Ready to play?</h3>
        <img src="/static/assets/move1.png" alt="How to play 2048" class="game-img">
        <button id="start-game-btn" class="btn">Start Game</button>
    </div>
    
    <div id="game-area" class="game-area">
        <div class="score-display">
            Score: <span id="score">0</span>
        </div>
        
        <div id="game-board-2048" class="glass-effect">
            </div>
        
        <div id="game-over-message" class="game-status" style="display: none; flex-direction: column; gap: 1rem; align-items: center;">
            <span id="game-over-text">Game Over!</span>
            <button id="reset-btn" class="btn" style="width: 200px;">Play Again</button>
        </div>
    </div>
</div>

<script src="/static/2048.js"></script>
{% endblock %}