{% extends "layout.html" %}
{% block main %}
    <form class="form-card glass-effect" action="/login" method="post">
        <h2>Login</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <div class="form-group">
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input name="password" placeholder="Password" type="password">
        </div>
        <button class="btn" type="submit">Log In</button>
    </form>
{% endblock %}